.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Agregado para Login */
.login {
  display: block;
  background-color: white;
  color: #333;
  border-radius: 25px;
  padding: 20px;
}

/* Agregado para plantilla */
.App-intro {
  font-size: large;
}

.Header {
  max-width: 1350px;
  margin: auto;
}

.Header-top {
  background-color: white;
  height: 130px;
  color: white;
  box-shadow: 0 0 10px lightgray;
}

.Header-title {
  left: 0px;
  color: #444444;
  font-size: 30px;
  padding-top: 25px;
}

.Header-bottom {
  left: 0;
  margin-top: 20px;
  font-size: 25px;
  color: #444444;
}

.Header-title .Header-left {
  text-align: left;
  display: inline-block;
}

.Header-title .Header-right,
.Header-title .Header-right a {
  float: right;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  color:#00AC68;
  font-size: 20px;
}

.Header-title .Header-right:hover {
  text-decoration: underline;
}

div.Content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* Sidebar */
.Sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.Sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.Sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.Sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 700px) {
  .Sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .Sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .Sidebar a {
    text-align: center;
    float: none;
  }
}
